<!DOCTYPE html>
<html>
  <head>
    <title>Resultado</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div style="font-weight: bold; font-size: 32px">Calculadora</div>
    <p style="font-size: 24px">Resultado: <%= resultado %></p>
    <a href="/" style="font-size: 18px">Voltar</a>
  </body>
</html>