<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div style="font-weight: bold; font-size: 32px">Calculadora</div>
    <fieldset style="width: 30%">
      <form style="font-size: 24px" action="calculadoraresposta" method="get">
        Numero 1<input type="text" name="numero1" /> <br />
        Numero 2<input type="text" name="numero2" /><br />
        <br />
        <input type="submit" value="+" name="op" />
        <input type="submit" value="-" name="op" />
        <input type="submit" value="*" name="op" />
        <input type="submit" value="/" name="op" />
      </form>
    </fieldset>
  </body>
</html>